#education{
    width: 100%;
    
  }
  #education h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .education-item {
    background: radial-gradient(
      75.85% 168.08% at 25.62% 78.02%,
      rgba(237, 238, 248, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
      );
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 30px;
      margin-bottom: 20px;
      position: relative;
      transition: all 0.5s ease;
      width: 40%;
    }
    
    .education-item:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    }
    
    .education-item h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    
    .education-item p {
      font-size: 16px;
      margin-bottom: 5px;
    }
    
    .education-item .school {
      font-weight: 700;
    }
    
    .education-item .date {
    font-style: italic;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 768px) {
    #education h2 {
      font-size: 28px;
    }
    .education-item{
      width: 100%;
    }
    .education-item h3 {
      font-size: 22px;
    }
    .education-item p {
      font-size: 14px;
    }
  }