/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .bar {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin: 0.5rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #47d8e1;
  }
  #menu-toggle {
    display: none;
  }
  input[type="checkbox"]:checked ~ .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background: radial-gradient(
      75.85% 168.08% at 25.62% 78.02%,
      rgba(29, 29, 30, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 0px 10px #333;
  }
  /*navbar*/@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  .navbar button {
    display: none;
  }
  .skills_wraper i {
    font-size: 280px;
  }

  .notice {
    width: 80%;
  }
  .form__button {
    margin-top: 1rem;
    width: 98%;
    margin-left: 0.2rem;
  }
}