.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* center the flex items horizontally */
  width: 100%;
  padding: 50px 0;
}

.service-card {
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease;
  width: 40%; /* default width for larger screens */ /* set a maximum width to prevent the cards from becoming too large on smaller screens */
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon {
  align-items: center;
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  color: rgb(211, 18, 111);
  display: flex;
  font-size: 50px;
  height: 80px;
  justify-content: center;
  left: -25px;
  position: absolute;
  top: -25px;
  width: 80px;
}
.services .service-card:nth-child(2) .icon {
  font-size: 40px;
  color: rgb(17, 104, 235);
}
.services .service-card:nth-child(3) .icon {
  font-size: 40px;
  color: rgb(255, 0, 0);
}
.services .service-card:nth-child(4) .icon {
  font-size: 40px;
  color: rgb(0, 255, 0);
}
h3 {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 0;
  color: #47d8e1;
}

.service-card p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: justify;
}

.fa-laptop-code {
  transform: rotate(45deg);
}

.fa-mobile-alt {
  transform: rotate(90deg);
}

.fa-database {
  transform: rotate(135deg);
}

.fa-cloud {
  transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
  .service-card {
    width: 80%; /* set a smaller width for smaller screens */
    max-width: none; /* remove the maximum width */
  }
}
