:root {
  background-color: #3c6071;
  backdrop-filter: blur(12px);
  font-family: "Open Sans";
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin-left: 5%;
  margin-right: 5%;
  scroll-behavior: smooth;
  word-wrap: break-word;
}
button {
  border: none;
  background: linear-gradient(#1e90ff 13.52%, #3c6071 155.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  transition: 0.4s;
  width: 182px;
  height: 57px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
span {
  color: #47d8e1;
}


.circles {
  position: absolute;
  z-index: -1;
}
.circles img {
  width: 200px;
  height: 200px;
  top: 25%;
  left: 40%;
}
.circles img:nth-child(2) {
  width: 300px;
  height: 300px;
  top: 20%;
  left: 90%;
}
