:root {
  background-color: #3c6071;
  backdrop-filter: blur(12px);
  font-family: "Open Sans";
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-left: 5%;
  margin-right: 5%;
}
button {
  border: none;
  background: linear-gradient(#1e90ff 13.52%, #3c6071 155.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  transition: 0.4s;
  width: 182px;
  height: 57px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
span {
  color: #47d8e1;
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

.bar {
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin: 0.5rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #47d8e1;
}
#menu-toggle {
  display: none;
}
input[type="checkbox"]:checked ~ .nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(29, 29, 30, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
  box-shadow: 0px 0px 10px #333;
}
/*navbar*/
/*hero*/

.hero {
  display: flex;
  justify-content: space-between;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.hero__title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 4rem;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}
.hero__description {
  font-size: 20px;
  width: 80%;
  font-weight: lighter;
  line-height: 40px;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}
.my-photo {
  flex-basis: 40%;
  margin-right: 5%;
}
.my-photo img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 0.5s ease forwards;
  animation-delay: 1.5s;
}

.social_media {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  width: 50%;
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
  animation-delay: 1.5s;
  transform: translateX(-50px);
}
.social_media a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
}
.social_media a:hover {
  color: #47d8e1;
  transition: 0.5s;
}
.social_media i {
  color: #47d8e1;
  font-size: 2rem;
 margin-right: 0.5rem;
}
.social_media i:hover {
  color: white;
  transition: 0.5s;
}
.social_media p {
  font-size: 1.2rem;
  margin: 0;
  }

/* Define the animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*hero*/
#Skills{
  padding: 50px 0;
}
.skills-wraper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 2rem;
}
.card {
  display: flex;
  gap: 1rem;
  border: 1px solid #ffffff;
  backdrop-filter: blur(50px);
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 200px;
  border-radius: 30px;
  padding: 12px;
}
.skills-wraper1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 2rem;
  margin-left: 4rem;
}
.skills-wraper1 i {
  color: #47d8e1;
}
.icons {
  width: 24px !important;
  height: 24px !important;
  font-size: 6rem;
}
.title {
  font-size: 40px;
}
.skills_wraper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 1rem;
}
.skills_wraper p {
  font-weight: lighter;
  font-size: 20px;
}
.skills_wraper i {
  font-size: 320px;
}
.skills {
  display: flex;
  justify-content: space-between;
}
#work{
  padding: 50px 0;
}
.card-wraper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.cardp {
  border: 1px solid #ffffff;
  backdrop-filter: blur(50px);
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 30px;
  padding: 12px;
  transition: 0.4s;
  cursor: pointer;
}
.cardp img {
  width: 300px;
  border-radius: 10px;
}
.cardp:hover {
  transform: scale(1.1);
}
.tesmonilas {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.bland {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 30%;
  gap: 2rem;
}
.bland img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.test_card {
  display: flex;
  gap: 1rem;
  border: 1px solid #ffffff;
  backdrop-filter: blur(50px);
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 200px;
  height: 100px;
  border-radius: 30px;
  padding: 12px;
}
.test_card p {
  line-height: 24px;
  font-size: 16px;
}
.circle {
  position: absolute;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  top: 5rem;
  left: 7rem;
}
.circle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.discus {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.discus h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.discus p {
  font-size: 17px;
  font-weight: lighter;
  line-height: 30px;
}
.contact_form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 90%;
  margin: auto;
}
.contact_info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 30%;
}
.contact_info--item {
  display: flex;
  padding: 5px;
  gap: 1rem;
  border: 1px solid #ffffff;
  background: #ffffff;
  box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
  border-radius: 8px;
  color: black;
}
.contact_info--item i {
  margin-top: 2rem;
  margin-left: 1rem;
  color: #47d8e1;
  font-size: 40px;
}
form input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 8px;
  margin-bottom: 1rem;
}
form textarea {
  width: 100%;
  height: 220px;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 8px;
}
.iniputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}

/*css for blogs*/
#Blogs {
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  padding: 50px 0;
}
#blog.in-view {
  opacity: 1;
  transform: translateY(0);
}
.blog {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 2rem;
}
.blog_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.blog_card--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border: 1px solid #ffffff;
  backdrop-filter: blur(50px);
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 30px;
  padding: 12px;
  overflow: hidden;
}
.blog_card--item img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
}
.blog_card--item:hover img {
  transform: scale(1.1);
}

.blog_card--item h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}
.blog_card--item p {
  font-size: 17px;
  font-weight: lighter;
  line-height: 30px;
}
.blog_card--item button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: #47d8e1;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 90%;
  height: 474px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(2, 2, 2, 0.25);
  margin: 1rem auto;
}

.invalid-feedback {
  display: none;
  color: red;
  margin-top: 5px;
}
.subscribe__title {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin-bottom: 18px;
}

.subscribe__copy {
  max-width: 450px;
  text-align: center;
  margin-bottom: 53px;
  line-height: 1.5;
  color: white;
}

.form {
  margin-bottom: 25px;
}

.form__email {
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #cad3db;
  width: 431px;
  font-size: 18px;
  color: #0f121f;
}

.form__email:focus {
  outline: 1px solid #3d9fff;
}

.form__button {
  background: linear-gradient(#1e90ff 13.52%, #3c6071 155.19%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: none;
  width: 244px;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
.form__button2 {
  background: linear-gradient(#1e90ff 13.52%, #3c6071 155.19%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: none;
  width: 100%;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  margin-top: 12px;
}
.notice {
  width: 345px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  border-top: 1px solid #ffffff;
}
footer p {
  font-size: 20px;
  font-weight: lighter;
}
footer i {
  font-size: 40px;
  color: #47d8e1;
}
footer a {
  text-decoration: none;
  color: #47d8e1;
}
.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 0;
}

.service-card {
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease;
  width: 40%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon {
  align-items: center;
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 50px;
  height: 80px;
  justify-content: center;
  left: -25px;
  position: absolute;
  top: -25px;
  width: 80px;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: justify;
}

.fa-laptop-code {
  transform: rotate(45deg);
}

.fa-mobile-alt {
  transform: rotate(90deg);
}

.fa-database {
  transform: rotate(135deg);
}

.fa-cloud {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  .navbar button {
    display: none;
  }
  .skills_wraper i {
    font-size: 280px;
  }
  .form__email {
    width: 80%;
    margin-left: 0.2rem;
  }

  .notice {
    width: 80%;
  }
  .form__button {
    margin-top: 1rem;
    width: 98%;
    margin-left: 0.2rem;
  }
}
.circles {
  position: absolute;
  z-index: -1;
}
.circles img {
  width: 200px;
  height: 200px;
  top: 25%;
  left: 40%;
}
.circles img:nth-child(2) {
  width: 300px;
  height: 300px;
  top: 20%;
  left: 90%;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 1rem;
  margin-top: 2rem;
}
/*responsiveness of hero section*/
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero img {
    margin-left: 12px;
    width: 300px;
    height: 300px;
  }
  .hero__description {
    margin: auto;
    margin-left: 12px;
    width: 90%;
  }
  
  .social_media{
    width: 100%;
  }
  .social_media a:nth-child(4) {
    display: none;
  }
  .social_media i {
    font-size: 11px;
  }
  .title {
    margin-top: -15px;
    font-size: 36px;
  }
  .card {
    width: 100%;
    height: 100px;
    margin: auto;
  }
  .skills-wraper h2 {
    display: none;
  }
  .skills-wraper {
    width: 100%;
  }
  .skills-wraper1 {
    width: 100%;
    margin: 1rem auto;
    gap: 1rem;
  }
  .skills-wraper1 h2 {
    display: none;
  }

  .skills_wraper {
    flex-direction: column;
  }
  .skills_wraper img {
    width: 100%;
  }
  .card-wraper {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  #work {
    padding: 50px 0;
  }
  .tesmonilas {
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
  }
  .bland {
    display: none;
  }
  .test_card {
    width: 90%;
    margin: auto;
  }
  .discus {
    width: 90%;
    margin: auto;
  }
  .discus p {
    font-size: 16px;
  }
  .contact_form {
    flex-direction: column-reverse;
    width: 100%;
  }
  .contact_info1 {
    width: 100%;
    margin: auto;
  }
  .iniputs{
    width: 95%;

  }
  .blog_card {
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
  }
  .skills {
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .blog_card--item {
    width: 90%;
    margin: auto;
  }
  .service-card {
    width: 90%;
    margin: 20px;
    padding: 30px;
  }
  form textarea {
    width: 95%;
  }
  footer {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  footer a {
    text-decoration: none;
  }
}
/* about me */
.about-me {
  padding: 50px 0;
}

.about-me h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.image {
  flex-basis: 40%;
  margin-right: 5%;
}

.image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  flex-basis: 55%;
  line-height: 1.5;
  color: white;
}

.text p {
  margin-bottom: 20px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .text {
    flex-basis: 100%;
    text-align: center;
  }
  .about-me{
    padding: 1px;
  }
  .about-me h1 {
    margin-top: 1rem;
  }
  .subscribe{
    width: 100%;
  }
  .form__button2{
    width: 100%;
  }
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#education{
 width: 100%;

}
#education h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.education-item {
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease;
  width: 40%;
}

.education-item:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.education-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.education-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

.education-item .school {
  font-weight: 700;
}

.education-item .date {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  #education h2 {
    font-size: 28px;
  }
  .education-item{
    width: 100%;
  }
  .education-item h3 {
    font-size: 22px;
  }
  .education-item p {
    font-size: 14px;
  }
}
.projects {
  margin-top: 50px;
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.project-card {
  width: 31%;
  margin-bottom: 40px;
  background: radial-gradient(
    75.85% 168.08% at 25.62% 78.02%,
    rgba(237, 238, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.project-card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.project-img {
  height: 300px;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: linear-gradient(#1e90ff 13.52%, #3c6071 155.19%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #222;
  box-shadow: 0px 4px

}
@media screen and (max-width: 768px) {
  .project_container {
    width: 90%;
  }
  .project-card {
    width: 100%;
  }


}